.formulario {
    margin-top: 10px;
    width: 40vw;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    height: calc(100vh - var(--navbar-height) - 20px);
}

.input-requerido{
    font-weight: bold;
    color: var(--azul);
}

.input-requerido.general-dark{
    font-weight: bold;
    color: var(--naranja);
}

#sugerenciasActividad {
    z-index: 1000; 
    max-height: 220px; 
    overflow-y: auto;
}


.contenedor-btn{
    display: flex;
    flex-direction: column;
}
.btn-registrar{
    background-color: var(--azul);
    padding: 5px;
    border: var(--blanco) solid 1px;
    border-radius: 12px;
    color: var(--blanco);
    flex: 1 1 0;
}

.input-error{
    border-color: var(--rojo);
    border-width: 2px;
}