/* https://www.cdnfonts.com/din-alternate.font
<link href="https://fonts.cdnfonts.com/css/din-alternate" rel="stylesheet"> */

:root {

    --azul: #164a98;
    --azul-claro: #006AEA;
    --celeste: #9CC8FF;
    --gris-claro: #d2d2d2;
    --gris-oscuro: #7c7b75;
    --blanco: white;

}


body{

    background:#fafafa;

    font-family: CircularStd, sans-serif;
    font-weight: 400;

}

/* Tarjeta */

.stand-card{
    width: 300px;
    height: 400px;

    background: var(--blanco);
    border: 1px solid var(--gris-claro);
    border-radius: 10px;

    display: flex;
    flex-direction: column;

}


/* HEADER TARJETA */

.card-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 18px 10px;

}

.card-header p{

    margin:0;

    font-size:22px;

    font-weight:500;

    color: var(--azul-claro);

}

/* BOTÓN MENÚ TARJETA*/

.btn-menu{

    background:none;

    border:none;

    color:var(--gris-oscuro);

    font-size:20px;

    cursor:pointer;

}


/* BODY TARJETA */

.card-body{

    flex:1;
    min-height: 0;
    padding:5px 18px;

}


.stand-card label {
    margin-bottom: 1px;
    display: block;
    font-family: CircularStd, sans-serif;
    font-weight: 600;
    font-size:17px;
}

.stand-card .form-control {
    margin-bottom: 8px;
}

.subtitulo{
    font-size:17px;
    margin-bottom:2px;

}

.info{
    font-size:14px;
    margin-bottom:15px;
}

.input-nombre {
    font-size: 17px;
    padding: 3px 6px;
}

.input-categoria,
.input-responsable,
.input-ubicacion,
.input-descripcion {
    font-size: 12px;
    padding: 4px 7px;
}

/* FOOTER TARJETA*/

.card-footer{
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    padding: 18px;
    
}


/* BOTÓN CANCELAR*/
.btn-cancelar{
    background:var(--azul-claro);
    border-radius:25px;
    color:white;
}

.btn-guardar{
    background:var(--azul-claro);
    border-radius:25px;
    color:white;
}

/* BOTÓN AGREGAR TARJETA */

.btn-float{

    position:fixed;

    right:30px;

    bottom:30px;

    width:50px;

    height:50px;

    border-radius:50%;

    border:none;

    background:var(--azul-claro);

    color:white;

    font-size:26px;

}

.card-header {
    position: relative;
}

.menu-opciones {
    position: absolute;
    top: 45px;
    right: 18px;

    width: 120px;

    background: white;
    border: 1px solid var(--gris-claro);
    border-radius: 8px;

    padding: 5px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

    z-index: 10;
}

.menu-opciones button {
    width: 100%;

    border: none;
    background: none;

    text-align: left;

    padding: 8px;

    border-radius: 5px;

    cursor: pointer;
}

.menu-opciones button:hover {
    background: #f0f0f0;
}

.btn-eliminar {
    color: #dc3545;
}

.input-error {
    border: 2px solid red;
}